[Unit]
Description=Tiny TV Service

[Service]
ExecStart=/home/pi/tiny-tv-venv/bin/python3 /home/pi/tiny-tv/tiny-tv.py 'category' --category 'cartoons' --shuffle True --volume 0
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=Tiny TV
User=pi

[Install]
WantedBy=multi-user.target
